section
	canvas(id=id, width="50", height="75", style="float:left")
		span= card.toString()
	script(type="text/javascript")
		drawCard("!{id}", "!{card.toCardString()}", !{card.CardNumber}, !{card.Suit});